@import url("https://fonts.googleapis.com/css2?family=Amiko&family=Asap&family=Imprima&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{    
    font-size: 24px;
}

$font-fam-1: "Amiko", sans-serif;
$font-fam-2: "Asap", sans-serif;
$font-fam-3: "Imprima", sans-serif;
$anim-dur: .75s;

$bg-img: (
    bg-1:
        url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"),
    bg-2:
        url("https://images.unsplash.com/photo-1618218168350-6e7c81151b64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"),
    bg-3:
        url("https://images.unsplash.com/photo-1532153354457-5fbe1a3bb0b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"),
    bg-4:
        url("https://images.unsplash.com/photo-1652430644490-ee58b613eb4f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1260&q=80"),
    bg-5:
        url("https://images.unsplash.com/photo-1517105274840-437212774105?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"),
);

$home-letters: (
    h: (stroke: 3.3vw, delay: 0s),
    o: (stroke: 2.55vw, delay: 0.5s),
    m: (stroke: 5vw, delay: 1s),
    e: (stroke: 3.3vw, delay: 1.5s),
);

body {
    background: #222;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.home-letters {
    fill: none;
    stroke: #fb0000;
    stroke-width: 0.125vw;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: 1;
}

.drawing-container {
    position: absolute;
    width: 25vw;
    aspect-ratio: 1/2;
}

@each $letter, $letter-value in $home-letters {

    #letter-#{$letter} {
        stroke-dasharray: map.get($letter-value, dash-value);
        stroke-dashoffset: map.get($letter-value, dash-value);
        animation: 1s home-letters-#{$letter} map.get($letter-value, delay) linear forwards;
    }

    @keyframes home-letters-#{$letter} {
        from {
            stroke-dashoffset: map.get($letter-value, dash-value);
        }
        to {
            stroke-dashoffset: 0;
        }
    }
}

// #letter-h {
//     stroke-dasharray: 3.3vw;
//     stroke-dashoffset: 3.3vw;
// }

// #letter-o {
//     stroke-dasharray: 2.55vw;
//     stroke-dashoffset: 2.55vw;
// }

// #letter-m {
//     stroke-dasharray: 5vw;
//     stroke-dashoffset: 5vw;
// }

// #letter-e {
//     stroke-dasharray: 3.3vw;
//     stroke-dashoffset: 3.3vw;
// }
